.NotePadForm {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.notePadFormBtn {
    width: 8em;
    height: 3em;
    border: none;
    padding: 0.6em 1.2em;
    background: #a9a9a9;
    color: #fff;
    font-family: 'Lato', Calibri, Arial, sans-serif;
    font-size: 1em;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    display: block;
    margin: auto;
    border-radius: 2px;
    font-weight: 400;
    outline: none;
    font-size: 75%;
    background: #ed8151;
}

.notePadFormBtn:after {
    content: "";
    position: absolute;
    border-bottom: 20px solid transparent;
    border-top: 20px solid transparent;
    height: 0px;
    width: 0px;
    margin-right: -20px;
    right: 0; 
  }

.notePadFormBtn:disabled,
.notePadFormBtn[disabled] {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
    cursor: not-allowed;
}