.Layout {
    background: url('../../assets/img/main-background-mobile.svg');
    min-height: 100vh;
    background-size: cover;
    overflow: hidden;
}

.NotePadButtonWrapper {
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 1em;
    border-radius: 50%;
    outline: none;
    transition: all 0.2s ease-in-out;
    z-index: 250;
}

@media (min-width: 800px) {
    .Layout {
        background: url('../../assets/img/main-background-desktop.svg');
        min-height: 100vh;
        background-size: cover;
    }
}