.Note {
    align-items: center;
    background: #FFFF76;
    border-radius: 2px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    text-align: center;
    height: 0px;
    min-height: 0px;
    max-height: 200px;
    margin: .5em 0;
    position: relative;
    width: 100%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.4s cubic-bezier(.36, -0.64, .34, 1.76);
}

.Note:hover {
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.25), 0 4px 6px rgba(0, 0, 0, 0.22);
}

.Note p {
    line-height: 27px;
    margin: 1em 20px;
    max-width: 60%;
    word-break: break-word;
}

.Delete {
    cursor: pointer;
    position: absolute;
    right: 24px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
}

.Delete:hover {
    opacity: 1;
}

.Delete:before,
.Delete:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #000075;
}

.Delete:before {
    transform: rotate(45deg);
}

.Delete:after {
    transform: rotate(-45deg);
}


.Note.swingEnter {
    opacity: 0;
    transform: rotateX(-90deg);
}

.Note.swingEntered {
    opacity: 1;
    min-height: 64px;
    transform: none;
    transition: all 0.4s cubic-bezier(.36, -0.64, .34, 1.76);
}

.Note.show {
    min-height: 64px;
    height: auto;
}

.Note.swingHide,
.Note.swingHide p {
    opacity: 0;
    margin: 0;
    transform: rotateX(-90deg);
    transition: all 0.8s cubic-bezier(.36, -0.64, .34, 1.76);
}

@media (min-width: 800px) {
    .Note {
        width: 600px;
    }
}