.NotePad {
    height: 0;
    width: 0;
    z-index: 300;
    position: fixed;
    bottom: 7em;
    overflow-y: scroll;
    padding: 1em;
    border-radius: 5px;
    right: 10%;
    background: white;
    /* transition: all 0.4s cubic-bezier(.36, -0.64, .34, 1.76); */
}

.NotePad.enter {
    opacity: 0;
}

.NotePad.entered {
    opacity: 1;
    animation: grow .6s ease-out;
    /* width: 300px;
    height: 300px;
    transition: all 0.8s cubic-bezier(.36, -0.64, .34, 1.76); */
}

.NotePad.show {
    height: 50%;
    width: 70%;
    /* animation: grow .8s ease-in; */
}

.NotePad.hide {
    /* opacity: 0;
    margin: 0;
    height: 0; */
    animation: leave .8s ease-out;
    animation-direction: reverse;
    /* transition: all 0.8s cubic-bezier(.36, -0.64, .34, 1.76); */
}

.NotePad::-webkit-scrollbar {
    width: .8em;
}

.NotePad::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.NotePad::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

@keyframes grow {
    0% {
        opacity: 0;
        height: 5%;
        width: 10%;
    }

    20% {
        opacity: .2;
        height: 5%;
        width: 45%;
    }

    40% {
        opacity: .7;
        height: 5%;
        width: 55%;
    }

    60% {
        opacity: .9;
        height: 5%;
        width: 65%;
    }

    80% {
        opacity: 1;
        height: 5%;
        width: 70%;
    }

    100% {
        opacity: 1;
        height: 50%;
        width: 70%;
    }
}

@keyframes leave {
    0% {
        opacity: 0;
        height: 5%;
        width: 10%;
    }

    20% {
        opacity: .4;
        height: 5%;
        width: 70%;
    }

    40% {
        opacity: .6;
        height: 10%;
        width: 70%;
    }

    60% {
        opacity: .8;
        height: 20%;
        width: 70%;
    }

    80% {
        opacity: 1;
        height: 30%;
        width: 70%;
    }

    100% {
        opacity: 1;
        height: 50%;
        width: 70%;
    }
}


@media (min-width: 800px) {}